<!DOCTYPE html>
<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <div>
      <p class="top-container">Example showing few details from Github API</p>
    </div>
    <div class ="container">
        <div class ="left-container">
      
          <mat-form-field class ="inp">
              <input  matInput placeholder="UserName" [(ngModel)] = "username">
          </mat-form-field>
          <button class ="btn" color= "primary" (click) ="search()" mat-raised-button>Search</button>
      
          <!-- <mat-form-field class ="inp">
              <input matInput placeholder="Any other Details" [(ngModel)] = "details">
          </mat-form-field>
          <button class ="btn" color= "primary" (click) ="searchOtherDetails()" mat-raised-button>Search</button> -->
          
        </div>
      
        <div class ="right-container" *ngIf= "response">
          <p>Login : {{response.login}} </p>
          <p>Id : {{response.id}} </p>
          <p>Gists_url : {{response.gists_url}} </p>
          <div *ngIf= "details">
            <p>{{details}} : {{response.followers}} </p>
          </div>
        </div>
      
      </div>
  
</body>
</html>



